<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.get_avatar(36) }}" alt="small avatar img">
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {{ _('says:') }} {{ moment(post.timestamp).fromNow() }}:<br>{{ post.body }}
            <br>

            {# Заглугка для автоматического перевод написанного текста (guess_language) #}
            {# Необходимо подлк. к API например Microsoft Azure #}
            {% if post.language and post.language != g.locale %}
                <a href="">{{ _('Translate') }}</a>
            {% endif %}
        </td>
    </tr>
</table>