{% extends 'base.html' %}

{% block app_main_block %}
    <table class="table table-hover">
        <tr>
            <td width="50px">
                {# get_avatar(____) принимает размер требуемого изображения #}
                <img style="margin-top: 30px" src="{{ user.get_avatar(128) }}" alt="avatar img">
            </td>

            <td>
                <h1>{{ user.username }}</h1>

                {% if user.about_me %}
                    {# если поле about_me (статус пользователя) сушествует в таблице User #}
                    <p>{{ user.about_me }}</p>
                {% endif %}

                {% if user.last_seen %}
                    {# если поле last_seen (дата последнего логирования) сушествует в таблице User #}

                    {# с функцией moment #}
                    <p>{{ _('Last seen on:') }} {{ moment(user.last_seen).fromNow() }}</p>
                    {#<p>Last seen on: {{ user.last_seen }}</p>#}
                {% endif %}

                    {# сколько на него подписаны           на кого подписан(количестов) #}
                <p>{{ user.followers.count() }} {{ _('followers') }}, {{ user.followed.count() }} {{ _('following') }}</p>

                  {# Если юзер == залог.юзеру #}
                {% if  user == current_user %}
                    <a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a>

                    {# Есл залог пользв. не фоловит юзера #}
                {% elif not current_user.is_following(user) %}
                    <a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a>

                    {# Есл залог пользв. фоловит юзера #}
                {% elif current_user.is_following(user) %}
                    <a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a>

                {% endif %}
            </td>
        </tr>
    </table>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}